<%- include("partials/header.ejs") %>
<body>
        <main class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
          <div class="home">
            <div class="row">
              <div class="col">
                <h1>Welcome to the CIMS Digital Bulletin Board</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
            
                  <button class="btn d-block btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    My Account
                  </button>
           
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <div class="row">
                      <div class="col-6">
                        <a href="/sign_up" class="link-light link link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"> Don't have an account?  Sign up </a>

                      </div>
                      <div class="col-6">
                        <a href="/login" class="link-light link link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Already have an account?  Log in </a>

                      </div>

                    </div>
                    
                    
                  </div>
                </div>
                <a href="/board"><button class="btn d-block btn-primary" type="button"> Go to board</button></a>
                <div class="reviewlink">
                <a class="link-offset-2 link-underline-info link-underline-opacity-50 link-underline-opacity-100-hover link-light" href="/addreview"><button class="btn btn-secondary">Please click here to leave us a review </button></a>
              </div>
              </div>
            </div>
            <div class="adminLink">
              <a href="/admin">Admin</a>
            </div>
          </div>
        </main>
      </body>
      
               

                
<%- include("partials/footer.ejs") %>