<%- include("partials/header.ejs") %>
<body class="d-flex align-items-center py-4">

  <main class="form-signin w-100 m-auto">
    <form action="/login" method="post">
      <h1 class="h3 mb-3 fw-normal">Password required</h1>
  
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
      </div>
  
  
      
    </form>
  </main>
</div>

<%- include("partials/footer.ejs") %>
