<%- include("partials/header.ejs") %>

<body>

    <div class="container">

        <% for( let i = 0; i < reviews.length; i++ ) { %>
            <ul><h5><%= reviews[i].review %></ul></h5>
            <% } %>
    </div>
    
        

   

</body>

<%- include("partials/footer.ejs") %>