<%- include("partials/header.ejs") %>
<body >
   
   

        <div class="container home">
            <h1>Poster uploaded sucessfully !</h1>
           
              
           <div class="content">
            <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/upload" ><button class="btn d-block btn-primary" type="button">Upload a new poster</button></a>
            <a href="/board"><button class="btn d-block btn-primary" type="button"> Go to board</button></a>
    
            </div>
           
            
            </div>
</body>
</html>
<%- include("partials/footer.ejs") %>