body{
  color: white;
  text-shadow: 0px 2px 7px #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    background-image: url(/public/admin/loch-1-print.jpg);
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    min-height: 100vh;
    
}
.adminBtn{
  min-width: 100%;
}
.adminBtnDiv{
  margin: 40px 0px;
  padding: 20px;
}
.adminColumn{
  margin-bottom: 15px;
}


.adminContainerr{
  padding-top: 3%;
}

.adminContainer h1{
  display: flex;   
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-top: 20px;
}

.adminLink{
    position: absolute;
    bottom: 43px;
    right: 10px;
    
}

 .boardColumn{
  padding: 20px;
  display: flex;
  
  max-width: 100%; 
  max-height: 100%;

}

 .boardImage{
  min-width: 100%;
  max-height: 100vh;
  object-fit:fill	;
  box-shadow: 1px 1px 1px 1px #575757;
}
.boardRow{
  padding: 10px;
  min-height: 100vh;
} 




.admin_card{
  box-shadow: 1px 1px 1px 1px #575757;
}

.cardCol{
margin: 10px 0;
padding: 0 5px;
}
.collapse{
  margin-top: 5px;
  
}
.card-body{
  background-color: #ffffff00;
}
.content{
  padding-top: 15%;
   display: flex;   
   justify-content: center;
}
.d-block{
   
  margin-top: 10px;
  width: 100%;
  
}
footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.password {
  margin-bottom: -1px;
  border-radius: 0%;
}
.password-confirm{
  margin-bottom: 10px;
  border-radius: 0%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius:10px ;
}

h1{
    display: flex;   
    justify-content: center;
}


.logout{
  position: absolute;
  top:20px;
  right: 5px;
 }


.posterContainer{
   
    max-width: 100%; 
    max-height: 100%;
    padding: 20px; 
    box-sizing: border-box;
    text-align: center; 
  }




  .rounded-start{
    max-height: 100px;
    max-width: 100%;
    object-fit: cover;
}


.userDiv{
  display: flex;
  margin: 40px 0px;
 
  justify-content: space-around;
}

.reviewlink{
margin-top: 20px;
display: flex;
justify-content: space-around;

}
.link-offset-2{

  
  font-size: 25px;
}

.review_form{

padding: 100px;
height: 100vh;
 

}
.review_container{
display: flex;
flex-wrap: wrap;
  
  width: 40%;
}