body{
  color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    background-image: url(/public/admin/loch-1-print.jpg);
   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:auto;
    min-height: 100vh;
    
}
.adminBtn{
  width: 90%;
}
.adminColumn{
  margin-bottom: 15px;
}


.adminContainerr{
  padding-top: 3%;
}

.adminContainer h1{
  display: flex;   
  justify-content: center;
  margin-bottom: 20px;
}

.adminLink{
    position: absolute;
    bottom: 43px;
    right: 10px;
    
}

 .boardColumn{
  padding: 20px;
  display: flex;
  
  max-width: 100%; 
  max-height: 100%;

}

 .boardImage{
  min-width: 100%;
  max-height: 100vh;
  object-fit:fill	;
  box-shadow: 1px 1px 1px 1px #575757;
}
.boardRow{
  padding: 10px;
  min-height: 100vh;
} 




.card{
  box-shadow: 1px 1px 1px 1px #575757;
}



.content{
  padding-top: 15%;
   display: flex;   
   justify-content: center;
}
.d-block{
   
  margin: 10px;
  width: 100%;
  
}
footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 10px;
}

h1{
    display: flex;   
    justify-content: center;
}

.home{
    padding-top: 5%;
}

.logout{
  position: absolute;
  top:20px;
 }


.posterContainer{
    color: rgb(53, 50, 50);
    max-width: 100%; 
    max-height: 100%;
    padding: 20px; 
    box-sizing: border-box;
    text-align: center; 
  }
#poster-container{
    color: rgb(53, 50, 50);
    padding: 13%;
  }



  .rounded-start{
    max-height: 100px;
    max-width: 100%;
    object-fit: cover
}
